<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<<!-- views/fruits/index.ejs -->

<body>
    <script> 
        console.log('this will show the client side')
        </script>
    <h1>All Fruits</h1>
    <nav>
        <ul>
            <li>
                <a href="/fruits/new" > Add new Fruit</a>
            </li>
        </ul>
    </nav>
    <ul>
      <% fruits.forEach(fruit => { %>
        <li><%= fruit.name %></li>
      <% }); %>
    </ul>
  </body>
  
  
</html>